body {
  margin: 0px;
  background-color: rgb(49, 19, 57);
  text-align: center;
  background-color: rgb(49, 38, 57);
  font-family: Arial, Helvetica, sans-serif;
}
footer{
  height: var(--footer-height);
  display: flex;
  align-items: center;
  justify-content: center;
}
p{
  margin:10px;
  color:gray;
  font-size: 17px;
}