

#card-grid{
  display:grid;
  row-gap: 20px;
  column-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  padding: 30px 0px;
  max-width: 750px;
  min-width: 300px;
}
@media (max-width:430px) {
  #card-grid{
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width:430px) and (max-width:550px) {
  #card-grid{
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width:800px) {
  #card-grid{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
.card{

  --height: 170px;

  height:var(--height);
  width:calc(var(--height)/3*2);
  perspective: 400px;
  
}
.inner-card{
  height:100%;
  width:100%;
  position: relative;
  transition: 0.5s;
  transform-style: preserve-3d;
  border-radius: var(--borde);
   
}
.card:hover .inner-card{
  transform:rotateY(180deg);
}
.card-front , .card-back{

  position: absolute;
  top:0px;
  right:0px;
  width:100%;
  height:100%;
  backface-visibility: hidden;
  box-sizing: border-box;
  overflow:hidden;
  border-radius: var(--borde);
  background-color: rgb(87, 10, 142);
}

.card-back{
  padding:0px 10px;
  transform: rotateY(180deg);
  overflow:auto;
}

.card-img{
  width: 100%;
  height: 100%;
}
.card_title{
  padding: 5px 5px;
  margin:10px 0px;
  font-size: 2em;
  font-weight: bold;
  direction: ltr;
  background-color: purple;
  border-radius: 6px;
}
.card_title_long{
  font-size: 1em;

}
.card_desc{
  font-size:0.8em;
  margin:5px;
}
.para{
  margin:0px;
}