
html{
  display: flex;
  justify-content: center;
  direction: rtl;
}
body{
  font-size:25px;
}
#table-frame{
  margin:10px 0px;
  margin-bottom:30px;
  max-width: 100vw;
  overflow:auto;
}
#score-table{
  table-layout: auto;
  overflow:scroll;
  text-align: center;
  border-spacing: 10px;
}
.after-table{
  margin-bottom:40px;
}
.score-row{
  width: fit-content;
}
.header-row{
}

.header-col{

}
.round-col{

}
.btn-add{
  background-color: greenyellow;
  border-radius: 100px;
  font-size: 1em;
  padding: 5px 15px;
  

}
.player-name-cell{
}
.player-name-input{
  color:white;
  border:none;
  text-align: center;
  font-size:1em;
  background-color: transparent;
  padding: 0.2ex 0.5ex;
  width: 12ex;
  text-align: right;
  background-image:linear-gradient(90deg,rgb(34, 1, 201),rgb(158, 1, 201) 90%);
  border-radius: 15px;
}
.player-name-input:focus{
  background-image:linear-gradient(-90deg,rgb(1, 108, 201),rgb(1, 108, 201,0));
  color:rgb(255, 242, 147);
}

.score-input:focus{
  background-color: hsl(286, 100%, 40%);
  color:rgb(238, 255, 0);
}

.score-cell{

}
.score-input{
  color:white;
  border:none;
  text-align: center;
  font-size:1em;
  background-color: hsl(286, 96%, 22%);
  width:5ex;
  padding: 0.2ex 0.5ex;
  
  border-radius: 6px;

}
.score-input::-webkit-outer-spin-button,
.score-input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

.round-name-cell{
  font-size: 1em;
  font-weight: bold;
}

.total-cell{
  
  color:white;
  text-align: center;
  font-size:1em;
  background-color: hsl(184, 96%, 22%);
  width:5ex;
  padding: 0.2ex 0.5ex;
  border-radius: 6px;
}