@media (max-width:630px) {
  .cards-grid {
    grid-template-columns: 1fr;
  }
}

@media (min-width:630px) and (max-width:870px) {
  .cards-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width:870px) and (max-width:1150px) {
  .cards-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width:1150px) {
  .cards-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}